name: Build and Test

on: 
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - 'main'

jobs:
  build-and-test:
    name: Build and Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
  
    - name: Setup .NET 10 Preview 6 SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.100-preview.6'
        include-prerelease: true

    - name: 'Build'
      run: dotnet build 'mcpservers - Solution.sln' -c Release

    # - name: 'Test McpDotNet'
    #   run: dotnet test './test/McpDotNet.Extensions.SemanticKernel.Tests/McpDotNet.Extensions.SemanticKernel.Tests.csproj' -c Release
